language: python
cache: pip
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"
  - "pypy"
  - "pypy3"
install:
  - pip install -r test-requirements.txt
  - pip install -e .
script:
  - pytest -q
